<script>
	import { languageTag } from '$paraglide/runtime';
	import Logo from './Logo.svelte';
	import { route } from './i18n-routing';
</script>

<div style:display="flex" style:justify-content="center">
	<a
		href={route('/', languageTag())}
		style:height="100px"
		style:overflow="hidden"
		style:color="inherit"
	>
		<Logo height={100} />
	</a>
</div>
