<script lang="ts">
	import logo from '$lib/assets/logo.png';
	import * as m from '$paraglide/messages';

	export let height = 100;
</script>

<div style:height="100%" style:display="flex" style:aspect-ratio="11/4">
	<div style:margin="auto" style:display="flex" style:width="auto" style:height="{height}px">
		<img src={logo} alt={m.logo_alt()} />
	</div>
</div>
