<script lang="ts">
	import * as m from '$paraglide/messages';
	import warning from '$lib/assets/error.svg';

	import Icon from '$lib/Icon.svelte';
	import logo from '$lib/assets/logo2.svg';
	import { PUBLIC_PLAY_URL } from '$env/static/public';
	import Anchor from '$lib/Anchor.svelte';
	import QuestionAnswers from './host/QuestionAnswers.svelte';
	import { route } from '$lib/i18n-routing';
	import { languageTag } from '$paraglide/runtime';
	import AnchorMessage from '$lib/AnchorMessage.svelte';
	import MainHeader from './MainHeader.svelte';
	import Footer from '$lib/Footer.svelte';

	const title = m.main_title();
	const description = m.main_desc();
</script>

<svelte:head>
	<title>{title}</title>
	<meta property="og:title" content={title} />
	<meta name="description" content={description} />
	<meta property="og:description" content={description} />
	<link rel="canonical" href={PUBLIC_PLAY_URL + route('/', languageTag())} />
</svelte:head>

<main>
	<MainHeader />
	<section>
		<div>
			<h2>{m.greeting()}<br />{m.create_with()}</h2>
			<div class="slide-container">
				<div class="slide">
					<QuestionAnswers
						questionText={m.what_are_features()}
						timeLeft={15000}
						timeStarted={30000}
						answers={[m.open_source(), m.beautiful_design(), m.lightweight(), m.privacy_friendly()]}
						answeredCount={0}
						bindableGameInfo={{
							volumeOn: false,
							locked: false
						}}
						gameInfo={{
							gameCode: '12345',
							questionIndex: 0,
							questionTotalCount: 1
						}}
						media={{
							Image: {
								Url: {
									url: logo,
									alt: m.logo_alt()
								}
							}
						}}
					/>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="split">
			<div>
				<h2>Về Quiz</h2>
				<p>
					Website của chúng tôi là một nền tảng quiz trực tuyến mang tính cách mạng, với nhiều tính năng và sự linh hoạt cao hơn, nhằm mang lại trải nghiệm tuyệt vời nhất cho cả người tạo quiz lẫn người tham gia. Tại đây, bạn có thể tạo các bài quiz vui nhộn, giáo dục hoặc đào tạo một cách dễ dàng, với giao diện thân thiện và trực quan. Nền tảng của chúng tôi hỗ trợ đa dạng câu hỏi, từ lựa chọn đơn giản đến trả lời tự do, kèm theo đó là các phần thưởng hấp dẫn để tăng cường sự tương tác và thú vị cho người chơi. Dù bạn đang tìm kiếm một công cụ học tập, một cách để tổ chức các buổi team-building, hay chỉ là muốn có những khoảnh khắc vui vẻ bên bạn bè và gia đình, website của chúng tôi đều có thể đáp ứng. Hãy tham gia ngay hôm nay để khám phá và tạo ra những trải nghiệm học tập không giới hạn.
				</p>
			</div>
			<Icon src="$lib/assets/help.svg" size="7em" alt="About" />
		</div>
	</section>

	<footer>
		<Footer />
	</footer>
</main>

<style>
	main {
		background-color: var(--background-color);
		line-height: 1.25;
	}

	section {
		& > div {
			max-width: 45ch;
			margin: auto;
		}

		text-align: center;

		padding: 1em;
	}

	h2 {
		margin: 0 0 0.5em;
		font-family: 'Truculenta';
	}

	p {
		margin: 0.5em 0;
	}

	.slide-container {
		border: 0.15em solid;
		border-radius: 0.9em;
		overflow: hidden;
	}

	.slide {
		position: relative;
		font-size: min(1em, 3vw);
		aspect-ratio: 90 / 72;
		z-index: 1;
	}

	.split {
		& div:first-child {
			flex: 1;
		}
		flex-wrap: wrap-reverse;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1em;
	}
</style>
